h1{color:orange}
h1{text-align: center;}
h2{color: white;}
h2{text-align: center;}

#ima1 {width: 22%;}
#ima1 {margin-left: 17%;}
#ima2 {width: 22%;}
#ima3 {width: 22%;}

body {background-color: black;}


